.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

button {
    margin: 0 5px;
}

.progress-bar {
    width: 640px;
    height: 10px;
    background: #ddd;
    position: relative;
    margin: 10px 0;
}

#progress__filled {
    height: 100%;
    background: #0d6efd;
    width: 0;
}